<html>

<head>
    
    <title>Node HTML file onto the browser</title>
    <script src="js/ap.js"></script>
</head>

<body>
    {{>header}}
    <h1>ABOUT PAGE</h1>
    <img src='img/images.jpg' >
    {{>footer}}
</body>

</html>